/*rosu: #e8221c #747374*/ 
/*crem: #eadfd4*/
/*turcoaz: #30D683*/
/*dark-grey: #333333*/


body{
	background-color: #f8fafb;
}

.our-solution{
	background-color: #ffffff;
	border-top:1px solid #f8fafb;
	-moz-box-shadow:    1px 1px 25px 3px #ccc;
    -webkit-box-shadow: 1px 1px 25px 3px #ccc;
    box-shadow: 1px 1px 25px 3px #ccc;
    margin-left:-15px;
    margin-right:-15px;
}

.text-center h4,
.text-center h3{
	width:40%;
	margin:70px auto;
}

.header-text{
	display:inline-block;
	width:50%;
}
.our-solution row{
	margin:0px;
}

.solution-container{
	width:1200px;
	display:table;
	table-layout: fixed;
	margin:0 auto;
}

.solution-item{
	display:table-cell;
}

.solution-item:hover{
	color: #1ebdbe;
}

.solution-item h4{
	width:80%;
	height:30px;
	margin:20px auto;
}

.solution-item p{
	width:85%;
	margin:20px auto;
}

.hr-left, .hr-right{
	min-width:25%;
	display: inline-block;	
	margin-top: 70px;
}

.hr-left{
	float:left;
}

.hr-right{
	float:right;
}

.solution-header {
	margin-top: 150px;
	margin-bottom:150px;
}

/*bootstrap overwritting*/
.navbar-inverse .navbar-nav>li>a{
	color: #98a5a6;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:active,
.navbar-inverse .navbar-nav>li>a:focus{
	color: #747374;
}

h1, h2{
	color: #747374;
	text-align: center;

}

a{
	color: #98a5a6;
	background-color: none;
}

.navbar-nav>li:hover,
.navbar-nav>li:focus,
.navbar-nav>li:active
{
	background-color: none;
}

a:hover, a:active, a:focus{
	color: #747374;
	background-color: none!important;
}

.details h2{
	text-align: left;
}

.match1{
	margin-top:-20px;
	margin-left: 10px;
}

.match2{
	margin-left: -65px;
	margin-top: 10px;
}

.open-options{
	font-size: 20px;
	width: 100%;	
}

.checkboxes{
	font-size: 22px;
	padding-left: 50px;
}

.grouped-content{
	margin-bottom: 50px;
}

.book{
	height: 90px;
	width:120px;
	margin:0 auto;
	padding-top: 30px
}

.starting-header{
	display:inline-block;
	width:100%;
}

.starting-header h2,
.starting-header img{
	display:inline-block;
}

.instructions{
	margin: 0 -15px;
}

.instructions h3{
	color: #e8221c;
	padding: 30px 0;
	margin-top: 10px;
	font-style: bold;
	padding-left: 77px;
}
.instructions h3:after{
	content: url("images/instructions2.png");
	height: 10px;
	width: auto;
	zoom: 0.55;
	position: absolute;
	left: 55px;
	top: 195px;
}

.instructions p{
	padding-bottom: 20px;
}

a{

}

.starting-options .col-md-4{
	box-sizing: border-box;
	padding:0 30px;	
}

.col-md-3, .col-md-6{
	padding:0;
	margin:0;
}

.editor-container h2{
	color:#333;
}

/*header style*/
.main-menu, .menu{
	top:300px;
	border:none;
	height:65px;
	background-color: #f8fafb;
	padding-top:5px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 17px;
}

.menu{
	top:0;
}

.navbar-fixed-top{
	top:0px;
}

.navbar{
	border-radius: 0px;
}

.main-menu-list{
	float:right;
}

.small-logo{
	float:left;
	/*zoom: 0.5;
	margin-top: -20px;*/
}

.help-icon{
	width: 33px;
	margin-top: -5px;
}

/*container style*/
.main-container{
	margin-top: 200px;
	height:auto;
	overflow:hidden;
	padding-top:50px;
	/*background: url("dark_texture.png") repeat 0% 0% #1c1c1c;*/
	color: #eadfd4;
	font-family: 'PT Sans', sans-serif;
}

.cover{
	min-width:100%;
	min-height: 300px;
	position:absolute;
	top:-200px;
	left:0;
	z-index:-1;
}

.btn-default{
	min-width:100px;
	margin:10px 50px;
}

.carousel-container{
	width:1200px;
	margin:0 auto;
}
.carousel-bkg{
	width:100%;
	display:block;
}

.transparent{
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#logInModal .form-group{
	padding-left: 50px;
	padding-right: 50px;	
}

/*editor page*/
.editor-container{
	margin-top:80px;
	padding:0 50px;
}

.disabled, .disabled:hover, .disabled:active, .disabled:focus{
	color:lightgray;
}

.details-option{
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding:0 15px;
}

h3{
	margin-top:0;
}

.starting-options{
	margin-top:35px;
}

.linked{
	margin-top:70px;
}

.not-implemented{
	font-style:italic;
	padding:50px;
	color: gray;
}

.default-icon{
	width:60px;
	height:60px;
	margin:3px;
}

.icon-container{
	border: 1px solid gray;
	width:70px;
	height:70px;
	float: left;
	margin:5px;
	overflow:hidden;
	border-radius:50%;
}

.icon-container:hover,
.icon-container:active,
.icon-container:focus{
	background-color: #e8221c;
	opacity: 0.9;
	filter: alpha(opacity=90);
}

.icon-container.active{
	background-color: #e8221c;
	opacity: 1;
	filter: alpha(opacity=100);
}

.icons-content{
	padding-left:15px;
	padding-right:15px;
}

.preview-container{
	padding: 0 15px;
}

.preview-section,
.icons-subsection,
.faq-section,
.quiz-section,
.tips-section{
	border: 1px solid lightgray;
	-moz-box-shadow:    1px 1px 2px 3px #ccc;
    -webkit-box-shadow: 1px 1px 2px 3px #ccc;
    box-shadow: 1px 1px 2px 3px #ccc;
	box-sizing: border-box;
}
/*rosu: #e8221c*/
/*crem: #eadfd4*/
/*turcoaz: #30D683*/
/*dark-grey: #333333*/
.preview-section h3,
.icons-subsection h3,
.faq-head,
.quiz-head,
.tips-section h3{
	color:#eadfd4;
	background-color: #333;
	height:50px;
	padding:10px;
}

.tips-section{
	width: 90%;
	float:right;
}

.preview-icon{
	/*width:70px;
	height:70px;
	margin:3px;	*/
	width: 60px;
	height: 60px;
	margin: 10px;
}

.preview-icon-border{
	/*border: 1px solid gray;*/
	border: 3px solid gray;
	width:80px;
	height:80px;
	float: left;
	margin:10px;
	overflow:hidden;
	border-radius:50%;
}

.preview-item{
	width:150px;
	height: 135px;
	margin:10px;
	display:inline-block;
	overflow:hidden;
}

.preview-item input{
	width:100%;
}

.icon-colors{
	float:left;
	padding: 0;
	margin: 0;
	height: 80px;
	width: 27px;
}

.icon-colors ul{
	padding: 0;
	margin: 20px;
}

.icon-colors li{
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid gray;
	border-radius: 50%;
	margin-top: 3px;
}


/*footer style*/
.main-footer {
	background-color:black;
	text-align:center;
	padding: 50px 0;
	color:#FFFFFF;
	display:block;
}

.fa {
	font-size:20px;	
}


.icons-subsection{
	display: block;
	overflow: hidden;
	width: 90%;
}

.toggle{
	width:50px;
	display:inline;
	float:right;
}

.toggle-on{
	text-indent: 7px!important;
}

.faq-section, .quiz-section{
	margin-top:20px;
	width:90%;
}

.faq-head, .quiz-head{
	display:block;
	margin:0;
	width:100%;
	padding-top:13px;
}

.faq-head h4, .quiz-head h4{
	float:left;
	display:inline;
	margin:0;
}

.faq-content, .quiz-content{
	padding: 15px;
}

.tips-content{
	padding:20px;
}

.tips-content p{
	padding-top:10px;
}


/*colors*/

.color-white{
	color:white;
}

.color-black{
	color:black;
}

.color-grey{
	color: #333;
}

.color-lightgray{
	color:lightgray;
}

.white-bkg{
	background-color: white ;
}

.red-bkg{
	background-color: #e8221c;
}
.green-bkg{
	background-color: #59AC59;
}
.blue-bkg{
	/*background-color: #0099FF;*/
	background-color: #3EA2E6;
}

.color-lg{
	color:#f8fafb;
	font-style: bold;
}

.color-dg{
	color:#747374;
}

.color-t{
	color: #1ebdbe;
}

.color-text{
	color:#50504e;
}
/*
primul background menu f8 fa fb
scrisu default aka mai deschis 98 a5 a6
scris inchis 74 73 74
turcoaz 1e bd be
fundal alb..
scris paragraf 50 50 4e
titlu 77 75 76
*/
