/*rosu: #e8221c*/
/*crem: #eadfd4*/
/*turcoaz: #30D683*/
/*dark-grey: #333333*/

/*bootstrap overwritting*/
.navbar-inverse .navbar-nav>li>a{
	color: #eadfd4;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:active,
.navbar-inverse .navbar-nav>li>a:focus{
	color: #e8221c;
}

h1, h2{
	color: #e8221c;
	text-align: center;

}

a{

}

.starting-options .col-md-4{
	box-sizing: border-box;
	padding:0 30px;	
}

/*header style*/
.main-menu, .menu{
	top:300px;
	border:none;
	height:65px;
	background-color: #333333;
	padding-top:5px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 17px;
}

.menu{
	top:0;
}

.navbar-fixed-top{
	top:0px;
}

.navbar{
	border-radius: 0px;
}

.main-menu-list{
	float:right;
}

.small-logo{
	float:left;
	zoom: 0.5;
	margin-top: -20px;
}

.help-icon{
	width: 33px;
	margin-top: -5px;
}

/*container style*/
.main-container{
	margin-top: 300px;
	height:auto;
	overflow:hidden;
	padding-top:50px;
	background: url("/images/dark_texture.png") repeat 0% 0% #1c1c1c;
	color: #eadfd4;
	font-family: 'PT Sans', sans-serif;
}

.cover{
	min-width:100%;
	min-height: 300px;
	position:absolute;
	top:-435px;
	z-index: -1;
	left:0;
}

.btn-default{
	min-width:100px;
	margin:10px 50px;

}

.carousel-bkg{
	width:100%;
	height:500px!important;
	background-color:red;
	display:block;
}

.transparent{
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#logInModal .form-group{
	padding-left: 50px;
	padding-right: 50px;	
}

/*editor page*/
.editor-container{
	margin-top:80px;
	padding:0 50px;
}

.disabled, .disabled:hover, .disabled:active, .disabled:focus{
	color:lightgray;
}

.details-option{
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding:0 15px;
}

h3{
	margin-top:0;
}

.starting-options{
	margin-top:35px;
}

.linked{
	margin-top:70px;
}

.not-implemented{
	font-style:italic;
	padding:50px;
	color: gray;
}

.default-icon{
	width:60px;
	height:60px;
	margin:3px;
}

.icon-container{
	border: 1px solid gray;
	width:70px;
	height:70px;
	float: left;
	margin:5px;
	overflow:hidden;
	border-radius:50%;
}

.preview-section,
.icons-subsection,
.faq-section,
.quiz-section,
.tips-section{
	border: 1px solid gray;
}

.preview-icon{
	width:70px;
	height:70px;
	margin:3px;	
}

.preview-icon-border{
	border: 1px solid gray;
	width:80px;
	height:80px;
	float: left;
	margin:10px;
	overflow:hidden;
	border-radius:50%;
}

.preview-item{
	width:150px;
	height: 135px;
	margin:10px;
	display:inline-block;
	overflow:hidden;
}

.preview-item input{
	width:100%;
}

.icon-colors{
	float:left;
	padding: 0;
	margin: 0;
	height: 80px;
	width: 27px;
}

.icon-colors ul{
	padding: 0;
	margin: 20px;
}

.icon-colors li{
	display: block;
	width: 10px;
	height: 10px;
	border: 1px solid gray;
	border-radius: 50%;
	margin-top: 3px;
}


/*footer style*/
.main-footer {
	background-color:black;
	text-align:center;
	padding: 50px 0;
	color:#FFFFFF;
	display:block;
}

.fa {
	font-size:20px;	
}


.icons-subsection{
	display: block;
	overflow: hidden;
	width: 100%;
}

.toggle{
	width:50px;
	display:inline;
	float:right;
}

.toggle-on{
	text-indent: 7px!important;
}

.faq-section, .quiz-section{
	margin-top:50px;
}

.faq-head, .quiz-head{
	display:inline;
	width:100%;
}

.faq-head h4, .quiz-head h4{
	float:left;
	display:inline;
	margin:0;
}

.tips-content{
	padding:20px;
}

.tips-content p{
	padding-top:10px;
}


/*colors*/

.color-white{
	color:white;
}

.color-black{
	color:black;
}

.color-grey{
	color: #333;
}

.color-lightgray{
	color:lightgray;
}

.white-bkg{
	background-color: white ;
}

.red-bkg{
	background-color: #e8221c;
}
.green-bkg{
	background-color: #59AC59;
}
.blue-bkg{
	/*background-color: #0099FF;*/
background-color: #3EA2E6;
}
/*rosu: #e8221c*/
/*crem: #eadfd4*/
/*turcoaz: #30D683*/
/*dark-grey: #333333*/