        <nav class="main-menu navbar-fixed-top navbar" role="navigation">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <img class="small-logo" src="/images/logo.png">
                    <ul class="main-menu-list nav navbar-nav">
                        <li><a href="/"> Home </a></li>
                        <li><a href="/signout"> Sign out </a></li>
                    </ul>
                </div>
            </div>
        </nav> <!-- END  menu section -->

<div class="container-fluid editor-container">
    <!-- instructions -->
    <div class="instructions"> 
        <h3>INSTRUCTIONS</h3>
        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </div><!-- END instructions -->
    <!-- grouped content -->
    <div class="grouped-content row">
        <!-- ICONS FAQ Quiz -->
        <div class="customization-section col-md-3">
            <!-- icons section -->
            <div class="icons-subsection">
            </div><!-- END icons section-->
            <!-- FAQ section -->
            <div class="faq-section">
            
            </div><!-- END FAQ section -->
            <!-- quiz section -->
            <div class="quiz-section">
            </div><!-- END quiz section -->
        </div><!-- END customize section-->
        
        <!-- preview section -->
        <div class="preview-section col-md-6">
            <div class="edit-panel clearfix"> </div>
            <div class="faq-panel hide"> </div>
            <div class="quiz-panel hide"> </div>
        </div><!-- END preview section-->
        
        <!-- tips section -->
        <div class="col-md-3">
            <div class="tips-section"> </div>
        </div><!-- END tips section-->
    </div>
    <div> 
        <button class="go-to-preview button btn btn-info" type="submit">Preview</button>
    </div>
</div>
