<div class="faq-head row">
    <h3>FAQ</h3>
    <div class="toggle on toggle-light faq-toggle"></div>
</div>

<div class="faq-container hide">
    <p>Only default frequently asked questions and answers will be added at the moment. Customizable FAQ content coming soon!</p>
</div>
