<div class="icon-colors">
    <ul>
        <li class="white-bgk" id="white"></li>
        <li class="red-bkg" id="#e8221c"></li>
        <li class="green-bkg" id="#59AC59"></li>
        <li class="blue-bkg" id="#65B5EB"></li>
    </ul>
</div>