<h3>Frequently Asked Questions</h3>
<div class="preview-faq-container">
    {{#each faqstubs}}
    
    <div class="faq-stub panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{question}}</h4>
        </div>
        <div class="panel-body">
            <p>{{answer}}</p>
        </div>
    </div>
{{/each}}
</div>