<!-- example -->
<div class="preview-item" id="{{id}}">
    <div class="preview-icon-border"><img src="{{file_name}}" class="preview-icon">
    
    </div>
    <input type="text" name="user_defined_descr" placeholder="Short description">
</div><!-- END example -->