<h3>Pop quiz, motherfucker!</h3>
<div class="preview-quiz-container">
    {{#each quizstubs}}
        <div class="quiz-stub panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">{{question}}</h4>
            </div>
            <div class="panel-body">
                <p>{{answer}}</p>
            </div>
        </div>
    {{/each}}
</div>