<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
    <title>ShouldReadMe</title>

    <script type="text/javascript">
        window.SRM = window.SRM || {};
    </script>
    
        
    <link rel="stylesheet" href="dist/css/main.css" />
    <!--<link rel="stylesheet" href='/bower_components/bootstrap/dist/css/bootstrap.min.css'/>-->
    <script src="dist/javascripts/vendor.js"></script>
    <script src="dist/javascripts/templates.js"></script>
    <script src="dist/javascripts/main.js"></script>
</head>
<body>
    <div id="main">
        <% content %>
    </div>
    
</body>
</html>
