<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
    <title>ShouldReadMe</title>
    
    <link rel="stylesheet" href="<% request.uri_base %>/css/main.css" />
    <script src="<% request.uri_base %>/vendor.js"></script>
    <script src="<% request.uri_base %>/main.js"></script>
</head>
<body>
    <!--<% content %>-->
</body>
</html>
